<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkGO5edoAe5p29Ik8321ZxFBQwiy2bjGE</string>
	<key>GCM_SENDER_ID</key>
	<string>61128521700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tadyuh.monie</string>
	<key>PROJECT_ID</key>
	<string>monie-d2a2a</string>
	<key>STORAGE_BUCKET</key>
	<string>monie-d2a2a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61128521700:ios:f0a6571462b75fa737f9f1</string>
</dict>
</plist>